apiVersion: kyverno.octokode.io/v1alpha1
kind: KyvernoArtifact
metadata:
  labels:
    app.kubernetes.io/name: kyverno-artifact-operator
    app.kubernetes.io/managed-by: kustomize
  name: kyvernoartifact-sample-with-delete
  namespace: kyverno-artifact-operator-system
spec:
  # url can include a specific tag to start from (e.g., ghcr.io/myoung34/kyverno-test/policies:v0.0.1).
  # If no tag is specified, 'latest' is used.
  url: ghcr.io/myoung34/kyverno-test/policies
  type: oci
  provider: github
  # pollingInterval is the interval in seconds to check for new tags.
  # Set to 0 to disable polling and only sync the tag specified in the url.
  pollingInterval: 60
  deletePoliciesOnTermination: true
  reconcilePoliciesFromChecksum: false
