apiVersion: kyverno.octokode.io/v1alpha1
kind: KyvernoArtifact
metadata:
  labels:
    app.kubernetes.io/name: kyverno-artifact-operator
    app.kubernetes.io/managed-by: kustomize
  name: kyvernoartifact-sample
  namespace: kyverno-artifact-operator-system
spec:
  # url can include a specific tag to start from (e.g., ghcr.io/myoung34/kyverno-test/policies:v0.0.1).
  # If no tag is specified, 'latest' is used.
  url: ghcr.io/myoung34/kyverno-test/policies
  type: oci
  provider: github
  # pollingInterval is the interval in seconds to check for new tags.
  # Set to 0 to disable polling and only sync the tag specified in the url.
  pollingInterval: 60
  reconcilePoliciesFromChecksum: false
  # pollForTagChanges enables or disables polling for new image tags.
  # If set to false, the watcher will only use the specific tag provided in the 'url' field and will not look for newer tags.
  # This is useful for pinning to a specific version while still benefiting from checksum-based reconciliation.
  # Defaults to true.
  pollForTagChanges: true
